@import "vars";

.categories{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 30px;
	}

	&__item{
		width: 350px;
		min-height: 419px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url("../images/bg-men.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&-women{
			background-image: url("../images/bg-women.jpg");
		}
		&-accessories{
			background-image: url("../images/bg-accessories.jpg");
		}
	}
	&__link{
		color: $lidht;
		text-decoration: none;
		font-family:$secondary-font;
font-style: italic;
font-weight: 300;
font-size: 40px;
line-height: 40px;
text-transform: capitalize;
	}
}